In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Import label encoder
from sklearn import preprocessing

# label_encoder object knows
# how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import datasets
from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_csv('SalesAnalysis.csv')
df['Product'].dropna(inplace = True)
df['Product'].isna().sum()

545

In [3]:
# df['Product']= label_encoder.fit_transform(df['species'])

df['Product'].unique()
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [4]:
d = df['Order Date'].str.split(" ",n = 2,expand = True)
d1 = d[0].str.split("/",n = 3,expand = True)
d.rename(columns = {1: 'Time'},inplace = True)
df = pd.concat([df,d['Time']],axis = 1)
d1.rename(columns = {0: 'Month',1: "Day",2: "Year"},inplace = True)
df = pd.concat([df,d1['Month'],d1['Day'],d1['Year']],axis = 1)

In [5]:
df.dropna(inplace = True)

In [6]:
df.drop(columns = (['Order Date','Time','Day','Order Date']),inplace = True)

In [7]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Month,Year
0,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",04,19
2,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",04,19
3,176560,Google Phone,1,600,"669 Spruce St, Los Angeles, CA 90001",04,19
4,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",04,19
5,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",04,19
...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,"840 Highland St, Los Angeles, CA 90001",09,19
186846,259354,iPhone,1,700,"216 Dogwood St, San Francisco, CA 94016",09,19
186847,259355,iPhone,1,700,"220 12th St, San Francisco, CA 94016",09,19
186848,259356,34in Ultrawide Monitor,1,379.99,"511 Forest St, San Francisco, CA 94016",09,19
186849,259357,USB-C Charging Cable,1,11.95,"250 Meadow St, San Francisco, CA 94016",09,19

In [8]:
add = df['Purchase Address'].str.split(",",n = 3,expand = True)
add.rename(columns = {1: "City"},inplace  = True)
df = pd.concat([df,add['City']],axis = 1)

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Month,Year,City
0,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",04,19,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",04,19,Boston
3,176560,Google Phone,1,600,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles
4,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles
5,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",04,19,Los Angeles
...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,"840 Highland St, Los Angeles, CA 90001",09,19,Los Angeles
186846,259354,iPhone,1,700,"216 Dogwood St, San Francisco, CA 94016",09,19,San Francisco
186847,259355,iPhone,1,700,"220 12th St, San Francisco, CA 94016",09,19,San Francisco
186848,259356,34in Ultrawide Monitor,1,379.99,"511 Forest St, San Francisco, CA 94016",09,19,San Francisco
186849,259357,USB-C Charging Cable,1,11.95,"250 Meadow St, San Francisco, CA 94016",09,19,San Francisco

In [10]:
df.drop(columns = (['PinCode','Purchase Address']),inplace = True)

KeyError: "['PinCode'] not found in axis"

In [ ]:
df

In [ ]:
df

In [11]:
df.City.unique()

array([' Dallas', ' Boston', ' Los Angeles', ' San Francisco', ' Seattle',
       ' Atlanta', ' New York City', ' Portland', ' Austin'], dtype=object)

In [12]:
df

,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Month,Year,City
0,176558,USB-C Charging Cable,2,11.95,"917 1st St, Dallas, TX 75001",04,19,Dallas
2,176559,Bose SoundSport Headphones,1,99.99,"682 Chestnut St, Boston, MA 02215",04,19,Boston
3,176560,Google Phone,1,600,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles
4,176560,Wired Headphones,1,11.99,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles
5,176561,Wired Headphones,1,11.99,"333 8th St, Los Angeles, CA 90001",04,19,Los Angeles
...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,"840 Highland St, Los Angeles, CA 90001",09,19,Los Angeles
186846,259354,iPhone,1,700,"216 Dogwood St, San Francisco, CA 94016",09,19,San Francisco
186847,259355,iPhone,1,700,"220 12th St, San Francisco, CA 94016",09,19,San Francisco
186848,259356,34in Ultrawide Monitor,1,379.99,"511 Forest St, San Francisco, CA 94016",09,19,San Francisco
186849,259357,USB-C Charging Cable,1,11.95,"250 Meadow St, San Francisco, CA 94016",09,19,San Francisco

In [13]:
df.Product.unique()

array(['USB-C Charging Cable', 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor'],
      dtype=object)

In [14]:
df["New_Price"] = df['Price Each'].apply(lambda a : 1 if a == 'Price Each' else a)
df['New_Price'] = df['New_Price'].apply(lambda a: float(a))
df['New_Price'] = df['New_Price'].apply(lambda b: round(b))

In [15]:
df.drop(columns = ('Price Each'),inplace = True)

In [16]:
df

,Order ID,Product,Quantity Ordered,Purchase Address,Month,Year,City,New_Price
0,176558,USB-C Charging Cable,2,"917 1st St, Dallas, TX 75001",04,19,Dallas,12
2,176559,Bose SoundSport Headphones,1,"682 Chestnut St, Boston, MA 02215",04,19,Boston,100
3,176560,Google Phone,1,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles,600
4,176560,Wired Headphones,1,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles,12
5,176561,Wired Headphones,1,"333 8th St, Los Angeles, CA 90001",04,19,Los Angeles,12
...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,"840 Highland St, Los Angeles, CA 90001",09,19,Los Angeles,3
186846,259354,iPhone,1,"216 Dogwood St, San Francisco, CA 94016",09,19,San Francisco,700
186847,259355,iPhone,1,"220 12th St, San Francisco, CA 94016",09,19,San Francisco,700
186848,259356,34in Ultrawide Monitor,1,"511 Forest St, San Francisco, CA 94016",09,19,San Francisco,380
186849,259357,USB-C Charging Cable,1,"250 Meadow St, San Francisco, CA 94016",09,19,San Francisco,12

In [17]:
df.Product.unique()

array(['USB-C Charging Cable', 'Bose SoundSport Headphones',
       'Google Phone', 'Wired Headphones', 'Macbook Pro Laptop',
       'Lightning Charging Cable', '27in 4K Gaming Monitor',
       'AA Batteries (4-pack)', 'Apple Airpods Headphones',
       'AAA Batteries (4-pack)', 'iPhone', 'Flatscreen TV',
       '27in FHD Monitor', '20in Monitor', 'LG Dryer', 'ThinkPad Laptop',
       'Vareebadd Phone', 'LG Washing Machine', '34in Ultrawide Monitor'],
      dtype=object)

In [18]:
df['Category'] = 'Other'

# Assigning category to products containing 'phone', 'accessories','headphone' and other keyword
df.loc[df['Product'].str.contains('phone', case=False), 'Category'] = 'Phones'

df.loc[df['Product'].str.contains('Wired|Headphones', case=False), 'Category'] = 'Wired_Headphones'
df.loc[df['Product'].str.contains('Apple|Bose', case=False), 'Category'] = 'Wireless'



df.loc[df['Product'].str.contains('accessory|case', case=False), 'Category'] = 'Accessories'
df.loc[df['Product'].str.contains('Monitor|screen', case=False), 'Category'] = 'TV'
df.loc[df['Product'].str.contains('Batteries', case=False), 'Category'] = 'battery'

df.loc[df['Product'].str.contains('Cable', case=False), 'Category'] = 'cable'

In [19]:
df['Product']= label_encoder.fit_transform(df['Product'])

In [20]:
df

,Order ID,Product,Quantity Ordered,Purchase Address,Month,Year,City,New_Price,Category
0,176558,15,2,"917 1st St, Dallas, TX 75001",04,19,Dallas,12,cable
2,176559,7,1,"682 Chestnut St, Boston, MA 02215",04,19,Boston,100,Wireless
3,176560,9,1,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles,600,Phones
4,176560,17,1,"669 Spruce St, Los Angeles, CA 90001",04,19,Los Angeles,12,Wired_Headphones
5,176561,17,1,"333 8th St, Los Angeles, CA 90001",04,19,Los Angeles,12,Wired_Headphones
...,...,...,...,...,...,...,...,...,...
186845,259353,5,3,"840 Highland St, Los Angeles, CA 90001",09,19,Los Angeles,3,battery
186846,259354,18,1,"216 Dogwood St, San Francisco, CA 94016",09,19,San Francisco,700,Phones
186847,259355,18,1,"220 12th St, San Francisco, CA 94016",09,19,San Francisco,700,Phones
186848,259356,3,1,"511 Forest St, San Francisco, CA 94016",09,19,San Francisco,380,TV
186849,259357,15,1,"250 Meadow St, San Francisco, CA 94016",09,19,San Francisco,12,cable

In [21]:
df.drop(columns = ('Purchase Address'),inplace = True)

In [22]:
df

,Order ID,Product,Quantity Ordered,Month,Year,City,New_Price,Category
0,176558,15,2,04,19,Dallas,12,cable
2,176559,7,1,04,19,Boston,100,Wireless
3,176560,9,1,04,19,Los Angeles,600,Phones
4,176560,17,1,04,19,Los Angeles,12,Wired_Headphones
5,176561,17,1,04,19,Los Angeles,12,Wired_Headphones
...,...,...,...,...,...,...,...,...
186845,259353,5,3,09,19,Los Angeles,3,battery
186846,259354,18,1,09,19,San Francisco,700,Phones
186847,259355,18,1,09,19,San Francisco,700,Phones
186848,259356,3,1,09,19,San Francisco,380,TV
186849,259357,15,1,09,19,San Francisco,12,cable

In [23]:
df['encodedCategory'] = label_encoder.fit_transform(df['Category'])

In [24]:
df

,Order ID,Product,Quantity Ordered,Month,Year,City,New_Price,Category,encodedCategory
0,176558,15,2,04,19,Dallas,12,cable,6
2,176559,7,1,04,19,Boston,100,Wireless,4
3,176560,9,1,04,19,Los Angeles,600,Phones,1
4,176560,17,1,04,19,Los Angeles,12,Wired_Headphones,3
5,176561,17,1,04,19,Los Angeles,12,Wired_Headphones,3
...,...,...,...,...,...,...,...,...,...
186845,259353,5,3,09,19,Los Angeles,3,battery,5
186846,259354,18,1,09,19,San Francisco,700,Phones,1
186847,259355,18,1,09,19,San Francisco,700,Phones,1
186848,259356,3,1,09,19,San Francisco,380,TV,2
186849,259357,15,1,09,19,San Francisco,12,cable,6

In [25]:
# df.drop(columns = ['Product','Category'],inplace = True)

In [26]:
df

,Order ID,Product,Quantity Ordered,Month,Year,City,New_Price,Category,encodedCategory
0,176558,15,2,04,19,Dallas,12,cable,6
2,176559,7,1,04,19,Boston,100,Wireless,4
3,176560,9,1,04,19,Los Angeles,600,Phones,1
4,176560,17,1,04,19,Los Angeles,12,Wired_Headphones,3
5,176561,17,1,04,19,Los Angeles,12,Wired_Headphones,3
...,...,...,...,...,...,...,...,...,...
186845,259353,5,3,09,19,Los Angeles,3,battery,5
186846,259354,18,1,09,19,San Francisco,700,Phones,1
186847,259355,18,1,09,19,San Francisco,700,Phones,1
186848,259356,3,1,09,19,San Francisco,380,TV,2
186849,259357,15,1,09,19,San Francisco,12,cable,6

In [27]:
df

,Order ID,Product,Quantity Ordered,Month,Year,City,New_Price,Category,encodedCategory
0,176558,15,2,04,19,Dallas,12,cable,6
2,176559,7,1,04,19,Boston,100,Wireless,4
3,176560,9,1,04,19,Los Angeles,600,Phones,1
4,176560,17,1,04,19,Los Angeles,12,Wired_Headphones,3
5,176561,17,1,04,19,Los Angeles,12,Wired_Headphones,3
...,...,...,...,...,...,...,...,...,...
186845,259353,5,3,09,19,Los Angeles,3,battery,5
186846,259354,18,1,09,19,San Francisco,700,Phones,1
186847,259355,18,1,09,19,San Francisco,700,Phones,1
186848,259356,3,1,09,19,San Francisco,380,TV,2
186849,259357,15,1,09,19,San Francisco,12,cable,6

In [28]:
df['City']= label_encoder.fit_transform(df['City'])

In [29]:
df.drop(columns = 'Category',inplace = True)

In [30]:
df.drop(columns = 'Order ID',inplace = True)

In [31]:
df

        Product Quantity Ordered Month Year  City  New_Price  encodedCategory
0            15                2    04   19     3         12                6
2             7                1    04   19     2        100                4
3             9                1    04   19     4        600                1
4            17                1    04   19     4         12                3
5            17                1    04   19     4         12                3
...         ...              ...   ...  ...   ...        ...              ...
186845        5                3    09   19     4          3                5
186846       18                1    09   19     7        700                1
186847       18                1    09   19     7        700                1
186848        3                1    09   19     7        380                2
186849       15                1    09   19     7         12                6

[185950 rows x 7 columns]

In [32]:
x = df[['Product','Quantity Ordered','Month','Year','City','New_Price']]

In [33]:
y = df['encodedCategory']

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 1)

In [35]:
dtc = DecisionTreeClassifier(random_state = 0)
dtc

DecisionTreeClassifier(random_state=0)

In [36]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [37]:
dtc_prediction = dtc.predict(x_test)
dtc_prediction

array([6, 2, 1, ..., 3, 5, 1])

In [38]:
accuracy_score(dtc_prediction,y_test)

1.0

In [39]:
# Support Vector Machine
svm_class = svm.SVC(kernel = 'linear')

In [40]:
svm_class.fit(x_train,y_train)

SVC(kernel='linear')

In [41]:
svm_class_prediction = svm_class.predict(x_test)
# svm_class_prediction
accuracy_score(svm_class_prediction,y_test)

0.9927399838666308

In [42]:
gs = GaussianNB()
gs

GaussianNB()

In [43]:
gs.fit(x_train,y_train)

GaussianNB()

In [44]:
gs_prediction =  gs.predict(x_test)
gs_prediction

array([6, 2, 1, ..., 3, 5, 1])

In [45]:
accuracy_score(gs_prediction,y_test)

0.9921125750649816

In [46]:
df

        Product Quantity Ordered Month Year  City  New_Price  encodedCategory
0            15                2    04   19     3         12                6
2             7                1    04   19     2        100                4
3             9                1    04   19     4        600                1
4            17                1    04   19     4         12                3
5            17                1    04   19     4         12                3
...         ...              ...   ...  ...   ...        ...              ...
186845        5                3    09   19     4          3                5
186846       18                1    09   19     7        700                1
186847       18                1    09   19     7        700                1
186848        3                1    09   19     7        380                2
186849       15                1    09   19     7         12                6

[185950 rows x 7 columns]

## Why SVM Perform Well

The fact that the Support Vector Machine (SVM) provided the best accuracy among the three models (SVM, Decision Tree Classifier, and Naive Bayes) suggests that the data might be better suited for a linearly separable classification problem. Let's briefly explore why SVM outperformed the other models and why the others may have failed to achieve the same accuracy:

1. **SVM (Support Vector Machine)**:
   - SVM is particularly effective in high-dimensional spaces, making it suitable for datasets with many features. It works well when the classes are separable or nearly separable by a hyperplane.
   - SVM aims to find the optimal hyperplane that maximizes the margin between the two classes, which allows it to generalize well to new, unseen data.
   - SVM is less prone to overfitting, as it only considers support vectors (data points closest to the decision boundary), which helps it generalize well on unseen data.

2. **Decision Tree Classifier**:
   - Decision trees are powerful and interpretable models that can handle both numerical and categorical data. They are useful for capturing complex relationships between features.
   - Decision trees are prone to overfitting, especially when they grow deep and complex, which can lead to poor generalization on unseen data.
   - If the decision tree is too deep and not pruned properly, it can memorize the training data and fail to generalize to new examples.

3. **Naive Bayes**:
   - Naive Bayes is a probabilistic classifier based on Bayes' theorem. It's simple, fast, and performs well on certain types of data, especially text classification tasks.
   - Naive Bayes assumes that all features are independent of each other, which is often not true in real-world datasets. This assumption may lead to suboptimal performance when features are correlated.
   - Naive Bayes may not be as effective on complex datasets with intricate relationships between features.

In summary, SVM might have provided the best accuracy because it works well in cases where classes are separable and is less prone to overfitting. Decision Tree Classifier and Naive Bayes might have struggled due to overfitting and assumptions that didn't hold in the dataset, respectively.

It's important to note that the performance of different machine learning models can vary significantly based on the dataset, feature engineering, hyperparameter tuning, and the nature of the problem. Therefore, it's always a good idea to experiment with multiple models and thoroughly evaluate their performance to select the best one for your specific task. Additionally, techniques like cross-validation can help ensure that the model's performance is consistent and not a result of chance.

## When They Fails

The performance of different machine learning models, including SVM, Decision Tree Classifier, and Naive Bayes, can vary based on the characteristics of the dataset and the specific problem being solved. There is no definitive point at which SVM fails while others succeed or vice versa. Instead, it depends on the following factors:

1. **Linear Separability**:
   - SVM tends to perform well when the data is linearly separable, i.e., the classes can be separated by a hyperplane. In such cases, SVM can find an optimal hyperplane with a maximum margin between classes.
   - If the data is not linearly separable, SVM may struggle to find a clear decision boundary and might not perform as well.

2. **Complexity of Decision Boundary**:
   - Decision Tree Classifier excels when the decision boundary is highly non-linear and the relationships between features are complex.
   - In situations where the decision boundary is not easily captured by a linear or piecewise linear function, decision trees can outperform SVM.

3. **Feature Independence Assumption**:
   - Naive Bayes assumes that features are independent of each other given the class label. If this assumption holds true in the dataset (e.g., in some text classification tasks), Naive Bayes can perform surprisingly well.
   - However, if features are highly dependent on each other, Naive Bayes might not accurately model the underlying relationships and fail to provide competitive accuracy.

4. **Data Size and Noise**:
   - SVM can handle datasets with a small number of data points effectively, but it might not perform well when the data is noisy or contains many outliers.
   - Decision trees can be more robust to noisy data and outliers due to their hierarchical structure and ability to focus on specific subsets of data.

5. **Overfitting**:
   - Decision trees are prone to overfitting, especially when they grow deep and complex. In contrast, SVM tends to be less prone to overfitting due to the margin-based optimization objective.
   - Naive Bayes is generally less prone to overfitting as well, but it can still happen if the feature independence assumption is violated.

6. **Computational Complexity**:
   - SVM can become computationally expensive, particularly for large datasets, while decision trees and Naive Bayes are relatively less computationally demanding.

It's important to emphasize that there is no universally best model, and the performance comparison can vary across different datasets and problems. The choice of the most suitable model depends on factors such as dataset size, dimensionality, linearity, noise, interpretability, and computational resources available.

To make an informed decision, it is recommended to conduct thorough model evaluation and comparison using techniques like cross-validation, hyperparameter tuning, and performance metrics to identify the model that best suits the specific problem at hand.